In [2]:
import pandas as pd
import collections
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('data/Clean_TPC/top_ipsn_tpc.csv')
# new_df = df.sort_values(by = ['No_of_times_as_TPC'], ascending = False)


# top_10 = set()
# names = []
# unis = []
# counts = [] 
# for row_no in range(20):
#     name = new_df['Name'][row_no]
#     count = new_df['No_of_times_as_TPC'][row_no]
#     uni = new_df['University/Organization'][row_no]
    
#     if uni not in top_10:
#         top_10.add(uni)
#         names.append(name)
#         unis.append(uni)
#         counts.append(count)
    
# t = pd.DataFrame(list(zip(names, unis, counts)), columns = ['Name', 'University/Organization', 'No_of_times_as_tpc']).sort_values(by = ['No_of_times_as_tpc'], ascending = False)
# t[:10]



def create_unique_top_10(df):
    "Given the conf tpc df creates new df that has unique top 10"
    
    df = df.sort_values(by = ['No_of_times_as_TPC'], ascending = False)
    top_10 = set()
    names = []
    unis = []
    counts = []
    
    for row_no in range(20):
        name = df['Name'][row_no]
        count = df['No_of_times_as_TPC'][row_no]
        uni = df['University/Organization'][row_no]
        
        if uni not in top_10:
            top_10.add(uni)
            names.append(name)
            unis.append(uni)
            counts.append(count)
            
    new_df = pd.DataFrame(list(zip(names, unis, counts)), columns = ['Name', 'University/Organization', 'No_of_times_as_TPC'])
    new_df = new_df.sort_values(by = ['No_of_times_as_TPC'], ascending = False)
    return new_df[:10]
            
    
t = create_unique_top_10(df)
t

,Name,University/Organization,No_of_times_as_TPC
8,Tarek Abdelzaher,University of Illinois Urbana Champaign,16
7,Kamin Whitehouse,University of Virginia,14
15,Janos Sztipanovits,Vanderbilt University,12
12,Leo Guibas,Stanford,11
5,Andreas Terzis,Johns Hopkins University,9
9,Jie Gao,Stony Brook University,8
3,Jie Liu,Microsoft Research,7
6,Ralph Kling,Crossbow,6
4,Andreas Savvides,Yale,5
0,Bill Kaiser,University of California Los Angeles,4

In [95]:
ipsn_tpc = pd.read_csv('data/Clean_TPC/ipsn_clean.csv')

In [96]:
ipsn_tpc.head(8)

,Name,University/Organization,Type of Chair,Conference,Year
0,Bill Kaiser,University of California Los Angeles,General Chair,IPSN,2004
1,Sam Madden,Massachusetts Institute of Technology,Information Proc. Track Co-Chair,IPSN,2004
2,Subhash Suri,University of California Santa Barbara,Information Proc. Track Co-Chair,IPSN,2004
3,Jie Liu,Microsoft Research,SPOTS Track Co-Chair,IPSN,2004
4,Andreas Savvides,Yale,SPOTS Track Co-Chair,IPSN,2004
5,Andreas Terzis,Johns Hopkins University,Poster Chair,IPSN,2004
6,Ralph Kling,Crossbow,Demonstration Chair,IPSN,2004
7,Kamin Whitehouse,University of Virginia,Competition Chair,IPSN,2004

In [97]:
ipsn_tpc['Year'].max() - ipsn_tpc['Year'].min()

15

In [98]:
name_uni = []
for row_no in range(len(ipsn_tpc)):
    name = ipsn_tpc['Name'][row_no]
    uni = ipsn_tpc['University/Organization'][row_no]
    name_uni.append((name, uni))

In [113]:
influence = dict(collections.Counter(name_uni))
influential_people = dict()
for key in influence.keys():
    if influence[key] > 5:
        influential_people[key] = influence[key]

In [114]:
influential_people

{('Jie Liu', 'Microsoft Research'): 7,
 ('Andreas Terzis', 'Johns Hopkins University'): 9,
 ('Ralph Kling', 'Crossbow'): 6,
 ('Kamin Whitehouse', 'University of Virginia'): 14,
 ('Tarek Abdelzaher', 'University of Illinois Urbana Champaign'): 16,
 ('Jie Gao', 'Stony Brook University'): 8,
 ('Feng Zhao', 'Microsoft Research'): 7,
 ('Deborah Estrin', 'University of California Los Angeles'): 11,
 ('Leo Guibas', 'Stanford'): 11,
 ('John Stankovic', 'University of Virginia'): 9,
 ('Janos Sztipanovits', 'Vanderbilt University'): 12,
 ('Suman Nath', 'Microsoft Research'): 8,
 ('Koen Langendoen', 'TU Delft'): 10,
 ('Akos Ledeczi', 'Vanderbilt University'): 7,
 ('Tian He', 'University of Minnesota'): 8,
 ('Omprakash Gnawali', 'University of Houston'): 8,
 ('Bhaskar Krishnamachari', 'University of Southern California'): 10,
 ('Anthony Rowe', 'Carnegie Mellon University'): 6,
 ('Pei Zhang', 'Carnegie Mellon University'): 7,
 ('Andreas Savvides', 'Yale University'): 6,
 ('Xenofon Koutsoukos', 'Vanderbilt University'): 6,
 ('Mani Srivastava', 'University of California Los Angeles'): 6}

In [52]:
uni = dict(collections.Counter(ipsn_tpc['University/Organization']))

filtered_uni = dict()

for key in uni.keys():
    if uni[key] > 15:
        filtered_uni[key] = uni[key]

In [101]:
# filtered_uni

In [102]:
ipsn_authors = pd.read_csv('data/Clean_Authors/ipsn_authors.csv')
# ipsn_authors.head()

In [103]:
auth_uni = set()
for row in range(len(ipsn_authors)):
    name = ipsn_authors['Author_Name'][row]
    uni = ipsn_authors['University/Organization'][row]
    auth_uni.add((name, uni))

In [104]:
top_uni = []
for tup in auth_uni:
    top_uni.append(tup[1])
    
people_featured = dict(collections.Counter(top_uni))

### This implies that this many number of people from the said university have been published in the conference

In [110]:
top_people = dict()

for key in people_featured.keys():
    if people_featured[key] > 20:
        top_people[key] = people_featured[key]
        
top_people

{'Carnegie Mellon University': 66,
 nan: 42,
 'Stanford': 29,
 'Massachusetts Institute of Technology': 37,
 'Rice University': 21,
 'University of California Los Angeles': 48,
 'University of Southern California': 28,
 'University of California Berkeley': 58,
 'University of Illinois Urbana Champaign': 38,
 'Rutgers University': 21,
 'University of Virginia': 26,
 'Tsinghua University': 31,
 'ETH Zurich': 35,
 'University of Michigan Ann Arbor': 24}

In [74]:
ipsn_auth = dict(collections.Counter(ipsn_authors['University/Organization']))

top_uni = {}
for key in ipsn_auth.keys():
    if ipsn_auth[key] > 20:
        top_uni[key] = ipsn_auth[key]

In [75]:

top_uni

{'Microsoft Research': 33,
 nan: 42,
 'Massachusetts Institute of Technology': 44,
 'Rice University': 25,
 'Stanford': 39,
 'University of California Berkeley': 104,
 'University of Southern California': 43,
 'University of Wisconsin Madison': 25,
 'University of California Los Angeles': 76,
 'University of California Santa Barbara': 21,
 'Carnegie Mellon University': 108,
 'University of Michigan Ann Arbor': 33,
 'University of Illinois Urbana Champaign': 51,
 'Ohio State University': 25,
 'ETH Zurich': 62,
 'Tsinghua University': 43,
 'Rutgers University': 39,
 'University of New South Wales': 36,
 'National Chung-Cheng University': 22,
 'University of Virginia': 43,
 'University of Utah': 28,
 'Michigan State University': 24,
 'Swedish Institute of Computer Science': 25,
 'CSIRO ICT Centre': 23}